<div class="rounded" style="background: #fff; border: solid 1px;">
<h2 class="text-center mt-3 mb-3"><strong>En avant ce mois</strong></h2>

<div class="text-center"><img class="img-fluid rounded mb-1 align-content-center" src="https://www.frenchweb.fr/wp-content/uploads/2020/01/Bretagne-150x150.jpg" alt="thisMonthBook"></div>


    <h2 class="m-2 text-center"><a href="{{path('regionChoosed')}}">La Bretagne</a></h2>
    <ul>
        <li>Région : <strong class="text-primary">Ouest</strong></li>
        <li>Type :  <strong class="text-primary">Proche de la mer</strong></li>
    </ul>

    
    <p class="m-2 text-justify">La Bretagne, des paysages a coupé le souffle, des décors comme vous n'en verrez pas deux. <strong
                class="text-primary">La Bretagne</strong> est de retour, et sans la pluie jusqu'au <strong  class="text-primary">32 décembre </strong>
    </p>
    <p>
        <input type="button" class="btn btn-warning my-2 mx-2" value="Voir plus en détails">
    </p>
</div>