{% extends './masters/main.html.twig' %}

{% block header %}
<div class="container">
<hr>
    <div class="jumbotron bg-primary">
        <h1 class="display-4"><strong>Bienvenue sur le site MeetMyView !</strong></h1>
        <hr>
        <p class="text-dark">Prêt à vous rendre dans les lieux les plus intriguants de votre régions ?</p>
        <input type="button" class="btn btn-warning" value="En savoir plus">
    </div>
</div>
{% endblock %}

{% block body %}

    <div>
        <h3 class="mt-5"> Bienvenue !</h3>
        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem ipsum magni qui suscipit tempora! Accusamus
            aspernatur atque blanditiis debitis dicta dolor dolore eius error eveniet expedita facilis fugit hic impedit
            inventore ipsa ipsam iure iusto laudantium mollitia neque nihil, numquam odit perferendis quae quasi
            quibusdam quod recusandae repudiandae saepe sed sit vel veniam veritatis. Aliquam asperiores autem
            blanditiis consectetur dolore dolores ea eligendi error et ex facere incidunt iste maiores molestias, nemo
            nesciunt nulla numquam perspiciatis placeat quidem quo ratione repellat similique sunt tempore temporibus
            veritatis voluptate! Ab autem blanditiis corporis culpa cumque cupiditate delectus, ea eius esse eveniet
            Saepe?
        </p>

        <p class="alert alert-dismissible alert-primary"> Promotion sur des livres</a>,
            profitez en !</p>
        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem ipsum magni qui suscipit tempora! Accusamus
            aspernatur atque blanditiis debitis dicta dolor dolore eius error eveniet expedita facilis fugit hic impedit
            inventore ipsa ipsam iure iusto laudantium mollitia neque nihil, numquam odit perferendis quae quasi
            quibusdam quod recusandae repudiandae saepe sed sit vel veniam veritatis. Aliquam asperiores autem
            blanditiis consectetur dolore dolores ea eligendi error et ex facere incidunt iste maiores molestias, nemo
            nesciunt nulla numquam perspiciatis placeat quidem quo ratione repellat similique sunt tempore temporibus
            veritatis voluptate! Ab autem blanditiis corporis culpa cumque cupiditate delectus, ea eius esse eveniet
            Saepe? blanditiis consectetur dolore dolores ea eligendi error et ex facere incidunt iste maiores molestias,
            nemo
            nesciunt nulla numquam perspiciatis placeat quidem quo ratione repellat similique sunt tempore temporibus
            veritatis voluptate! Ab autem blanditiis corporis culpa cumque cupiditate delectus, ea eius esse eveniet</p>
    </div>
    
{% endblock %}