{% extends './masters/main.html.twig' %}

{% block header %}

{% endblock %}

{% block body %}

<div class="card-deck">
  <div class="card mx-1">
    <img class="card-img-top" src="https://www.frenchweb.fr/wp-content/uploads/2020/01/Bretagne-150x150.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">La bretagne </h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>




    
{% endblock %}